<style>
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis-title {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}
</style>

<h5>Buscar por palavras ou Hashtags (#)</h5>
<div class="cointainer">
  <div class="row">
    <div class="input-field col s12">

      <i class="tiny material-icons prefix">play_arrow</i>
      <input placeholder="Intervalo de Tempo em Segundos" id="timeInterval" type="text" class="datepicker">

      <i class="tiny material-icons prefix">search</i>
      <input placeholder="Buscar" id="trackTerms" type="text" class="validate">

      <i class="tiny material-icons prefix">language</i>
      <input placeholder="Linguagem" id="languages" type="text" class="validate">
    </div>
  </div>

  <div align="center">
    <button (click)="start_search()" class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
    </button>
    <button (click)="stop_search()" class="btn waves-effect waves-light" type="submit" name="action">Stop
    <i class="material-icons right">stop</i>
    </button>
  </div>

<div id="chart">
  <h5>Número de Tweets</h5>
  <svg width="1200" height="600"></svg>
</div>

<div>
  <h5>Ciclo de Vida de Hashtags</h5>
  <svg width="1200" height="600"></svg>
</div>