
<h5>Cadastro</h5>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="tiny material-icons prefix">person_pin</i>
          <input placeholder="Nome" id="first_name" type="text" class="validate" > 
          <label class="active" for="first_name">Nome</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Sobrenome" id="last_name" type="text" class="validate">
          <label class="active" for="last_name">Sobrenome</label>
        </div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="tiny material-icons prefix">info</i>
          <input placeholder="Idade" id="idade" type="text" class="validate">
          <label class="active" for="idade">Idade</label>
        </div>
      <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="tiny material-icons prefix">email</i>
          <input placeholder="Email" id="email" type="text" class="validate">
          <label class="active" for="email">Email</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s6">
          <i class="tiny material-icons prefix">assignment_ind</i>
          <input placeholder="Usuário" id="usuario" type="text" class="validate">
          <label class="active" for="usuario">Usuário</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s6">
          <i class="tiny material-icons prefix">mode_edit</i>
          <input placeholder="Senha" id="password" type="text" class="validate">
          <label class="active" for="password">Senha</label>
        </div>
      </div>
    </form>
  </div>

<div align="center">   
<a class="waves-effect waves-light btn">Cadastrar</a>
<a class="waves-effect waves-light btn">Cancelar</a>
</div>
