<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
    <div class="nav-wrapper blue darken-4">
        <a routerLink = "" class="brand-logo right">Twitter Analytics</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">

        <!-- <li routerLinkActive = "active"><a routerLink = "/cadastro">Cadastro</a></li> -->
        <li routerLinkActive = "active"><a routerLink = "/login">Login</a></li> 
        <li routerLinkActive = "active"><a routerLink = "/busca">Busca</a></li>

      </ul>
    </div>
</nav>

<div class = "container">
  <router-outlet></router-outlet>
    
</div>
