
<h5>Login</h5>

<div class="row">
    <div class="input-field col s12">
      <i class="tiny material-icons prefix">assignment_ind</i>
      <input placeholder="Insira Usuário" id="usuario" type="text" class="validate">
      <label class="active" for="usuario">Usuário</label>
    </div>
  </div>

<div class="row">
    <div class="input-field col s12">
      <i class="tiny material-icons prefix">mode_edit</i>
      <input placeholder="Insira Senha" id="senha" type="password" class="validate">
      <label class="active" for="senha">Senha</label>
    </div>
  </div>

  <div align="center"> 
  <a class="waves-effect waves-light btn-large" href="home">Login</a>
  </div>